@*@using WebApplication.Extensions*@
<li class="dropdown user user-menu">
    @*  @if (Request.IsAuthenticated)*@
    @*  {*@


    @*@using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()
        <div class="">
            @Html.ActionLink("Logout", "LogOff", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Manage" })
        </div>

    }*@
    @* <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/AdminLTE/dist/img/user.svg" class="user-image" alt="User Image">
          <span class="hidden-xs">@User.Identity.GetUserNameIdentifier()</span>
        </a>*@
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            <p>
                @*<small>@User.Identity.GetUserEmail()</small>*@
            </p>
        </li>
        @*<li class="user-body">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
            </li>*@
        <li class="user-footer">
            cc
        </li>
    </ul>

    @*else
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }*@
</li>